{$KOEBINAR_SITE_ADDRESS} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:8000
	}

	handle /docs* {
		reverse_proxy api:8000
	}

	handle /redoc* {
		reverse_proxy api:8000
	}

	handle /openapi.json {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}
